<!DOCTYPE html>
<html>
<head>
    <title>Weather Results</title>
</head>
<body>
    <h1>Weather Results for {{weatherData.name}}</h1>
    <p>Temperature: {{weatherData.main.temp}}</p>
</body>
</html>
