body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;

    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 6% 6%;
    background-color: #f0fdff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#current-time {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: Roboto, sans-serif;
    font-size: 7.5rem;
    margin-top: 15rem;
    margin-bottom: 8rem;
    cursor: default;
}

#input-cityName {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    background-color: #fbfbfb;
}

#submit-button {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background: #007BFF;
    padding: 8px 16px;
    cursor: pointer;
}




